<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <style>
            a {
                text-decoration:none;
                font-size:20px;
                padding:20px;
                color:white;
                background-color:cadetblue;
            }
            a:hover{
                background-color:black;
            }
        </style>
    </head>
    <body>
      <h1>Admin Page</h1>
        <br>
        <a href='loginaccount'>register details</a> 
        <a href='productdisplay'>Product details</a> 

        <script src="" async defer></script>
    </body>
</html>